<% @attendances.each do |day| %>
  <%= f.fields_for "attendances[]", day do |attendance| %>
    <tr>
      <td><%= l(day.worked_on, format: :short) %></td>
      <td><%= $days_of_the_week[day.worked_on.wday] %></td>
      <% if !current_user.admin? && (Date.current < day.worked_on) %>
        <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
        <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
      <% else %>
        <td><%= attendance.time_field :started_at, class: "form-control" %></td>
        <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
      <% end %>
      <td>
        <% if day.started_at.present? && day.finished_at.present? %>
          <%= working_times(day.started_at, day.finished_at) %>
        <% end %>
      </td>
      <td><%= attendance.text_field :note, class: "form-control" %></td>
    </tr>
  <% end %>
<% end %>